* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  width: 100%;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.header__maincontainer {
  background-color: rgb(223, 223, 223);
  padding: 10px;
  box-shadow: rgba(33, 35, 38, 0.3) 0px 10px 10px -10px;
}

.header__childcontainer {
  width: 75%;
  display: flex;
  justify-content: right;
}

.header__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__childlist {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__a {
  font-size: 16px;
  margin: 20px;
  color: rgb(0, 0, 0);
}

.button__purple {
  background-color: hotpink;
  border-radius: 30px;
  padding: 9px 16px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  line-height: 70px;
  border: none;
}


.aboutme__maincontainer {
  display: flex;
  padding: 9% 20%;
  text-align: center;
  justify-content: space-evenly;

}

.aboutme__childcontainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.aboutme__hi {
  font-size: 30px;
  font-weight: bolder;
  line-height: 70px;
  font-weight: 900;
  color: hotpink;
}

.aboutme__name {
  color: hotpink;
  font-size: 50px;
  font-weight: 900;
  line-height: 70px;
  background-image: linear-gradient(to right, violet, rgb(54, 214, 246), violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.aboutme__what {
  color: dimgrey;
  font-size: 16px;
  line-height: 70px;
}

.aboutme__img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}

.aboutme__img img {
  width: 700px;
  height: 500px;
}

.aboutme__maincontainer .aboutme__childcontainer .button__purple {
  background-color: hotpink;
  border-radius: 30px;
  padding: 16px 30px;
  font-size: 16px;
  color: rgb(255, 255, 255);
}

.knowledge__childcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.project__maincontainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project__mainchild {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 20%;
}

.knowledge__maincontainter {
  padding: 50px 0px;
}

.knowledge__title,
.contact__lefttitle, .project__title {
  font-size: 50px;
  font-weight: 900;
  text-align: center;
  color: rgb(0, 0, 0);
  line-height: 150px;
  background-image: linear-gradient(to left, violet, rgb(54, 214, 246), violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.knowledge__what,
.project__what {
  color: dimgrey;
  font-size: 16px;
  max-width: 400px;
  text-align: center;
}

.knowledge__grid {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
  max-width: 1000px;
  margin-top: 40px;
}

.knowledge__gridchild {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid rgb(165, 165, 165) 1px;
  border-radius: 10px;
  width: 260px;
  padding: 50px;
  margin: 10px;
}

.knowledge__gridchild i {
  font-size: 70px;
}

.knowledge__titlegrid {
  padding-top: 30px;
  color: rgb(0, 0, 0);
}

.quote__maincontainer {
  background-color: rgb(223, 223, 223);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 600px;
  margin: 0px;
}

.quote__maincontainer i {
  font-size: 100px;
  color: hotpink;
  width: 100%;
  line-height: 225px;
}

.quote__what {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 300;
  max-width: 800px;
}

.quote__author {
  font-size: 25px;
  font-weight: bolder;
  color: hotpink;
  text-align: center;
  line-height: 150px;
}

.project__maingrid {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.project__a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid rgb(165, 165, 165) 1px;
  border-radius: 10px;
  width: 350px;
  height: 350px;
  padding: 10px;
  margin: 10px;
}

.project__flipBox {
  overflow: hidden;
}

.project__img {
  height: 50%;
  width: 50%;
  transition: 0.5s;
  object-fit: cover;
  filter: invert(1000%) sepia(1000%) saturate(30000%) hue-rotate(250deg) brightness(99%) contrast(100%);
}

.project__img:hover {
  transform: scale(1.2);
  opacity: 0.5;
}

.project__name {
  width: 100%;
  padding: 10%;
  font-weight: bold;
}

.background {
  background-color: rgb(223, 223, 223);
  padding: 10%;
}

.contact__maincontainer, .contact__borderanimation {
  display: flex;
  height: 100%;
  margin: 0px 10%;
  background-color: rgb(255, 255, 255);
  padding: 40px 80px;
  overflow: hidden;
  z-index: 0;
  position: relative;
}

.contact__borderanimation::before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: cornflowerblue;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 100%, 0 100%;
  background-image: linear-gradient(hotpink, hotpink), linear-gradient(cornflowerblue, cornflowerblue), linear-gradient(hotpink, hotpink), linear-gradient(cornflowerblue, cornflowerblue);
  -webkit-animation: rotate 4s linear infinite;
  animation: rotate 4s linear infinite;
}

.contact__borderanimation::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

.contact__left {
  width: 50%;
  padding-right: 20px;
}

.contact__lefttitle {
  color: black;
  text-align: left;
}

.contact__leftdescription {
  margin: 50px 0px;
  font-size: 18px;
  font-weight: lighter;
  line-height: 1.4;
}

.contact__li a i {
  color: hotpink;
  margin: 15px 15px 15px 40px;
}

.contact__right {
  width: 50%;
  padding-left: 20px;
}

.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

}

.form__profile {
  display: flex;
  flex-basis: auto;
  width: 100%;
  text-align: left;
}

.form__names {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

#presentation__name {
  width: 89%;

}

#presentation__lastname {
  width: 100%;

}

.form__names input {
  display: flex;
  width: 100%;
}

input {
  width: 100%;
  border-radius: 20px;
  background-color: #f6f7fb;
  border: none;
  padding: 12px;
}

label {
  margin: 20px 0px;
  font-weight: bold;
}

.form__names-input {
  width: 75%;
}

.form-column {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 40px;
}

#message {
  text-align: justify;
  height: 200px;
}

.button__formsend {
  line-height: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 20px 60px;
  text-align: center;
}

.footer__list,
.footer__ul {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.footer__li {
  margin: 10px;
}

.footer__li a i {
  display: block;
  width: 2.7rem;
  height: 2.7rem;
  background-color: hotpink;
  color: white;
  border-radius: 50%;
  font-size: 1.2rem;
  line-height: 2.7rem;
  transition: 0.1s;
  animation-name: example;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes example {
  from {
    background-color: hotpink;
  }

  to {
    background-color: rgb(192, 240, 254);
  }
}


@media only screen and (min-width: 320px) and (max-width: 1023px) {

  main {
    width: 100%;
  }

  .header__maincontainer {
    display: none;
  }

  .button__purple, .button__formsend {
    border-radius: 10px;
    margin: 5% 30%;
  }

  .aboutme__maincontainer {
    display: flex;
    flex-direction: column;
    padding: 0%;
    margin-top: 20%;
    text-align: center;
  }

  .aboutme__childcontainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .aboutme__img {
    display: flex;
    justify-content: center;

  }

  .knowledge__title,
  .contact__lefttitle, .project__title {
    font-size: 40px;
    font-weight: 900;
    text-align: center;
    color: rgb(0, 0, 0);
    line-height: 60px;
  }

  .knowledge__gridchild {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid hotpink 1px;
    border-radius: 10px;
    width: 200px;
    padding: 50px;
    margin: 10px;
  }

  .knowledge__gridchild i {
    font-size: 40px;
  }

  .background {
    background-color: rgb(255, 255, 255);
    padding: 1%;
  }

  .contact__maincontainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: none;
    background-color: rgb(255, 255, 255);
    margin: 0%;
    padding: 10px 20px;
  }


  .contact__left {
    width: 100%;
    padding: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .contact__right {
    width: 100%;
    padding-left: 0px;

  }

  .project__maingrid {
    justify-content: center;

  }

  .project__a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid hotpink 1px;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    padding: 10px;
    margin: 10px;
  }

  .project__img {
    height: 75%;
    width: 75%;
  }

  .project__mainchild {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
  }

  .footer__childcontainer {
    width: 100%;
  }

  .footer__list {
    display: none;
  }

  .form__container {
    display: flex;
    flex-wrap: nowrap;
  }
}